body {
  background-color: #F5E8C7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #DEBA9D;
  border-width: 10px;
  height: 0;
  width: 10%;
}

h1 {
  color: #9E7777;
}

h2 {
  color: #6F4C5B;
}
